@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Ocultar barras de scroll globalmente */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Asegurar que no haya scroll en el body */
html, body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}
